/* CSS Document */
body{
	margin:0 auto;
	font-family: arial, verdana, sans serif; 
	font-size:12px;
}
#container{
	width:800px;
	margin:0 auto;
}
#main{
	margin:50px 0 0 0;
	overflow:auto;
}
#form{
	
	margin:0px;
	overflow:auto;
	width:350px;
}
#form .form-input{
	width:200px;
}
.form-btn{
}
.spacer{
	height:10px;
}
.right-spacer{
	height:5px;
}
.btn{
	overflow:auto;
	width:270px;
	clear:both;
}
.left{
	float:left;
}
.right{
	float:right;
}
#news-content{
}
.nc-title{
	text-align:center;
	font-weight:bold;
	margin-bottom:30px;
	margin-top:30px;
}
.nm-content{
	overflow:auto;
}
.r-links{
	float:left;
	border:1px solid #9999CC;
	width:200px;
}
.ncm-content{
	float:left;
	width:580px;
	margin-left:10px;
}
.ncmc-headline{
	color:#FFFFFF;
	background-color:#333333;
	font-weight:bold;
	padding:5px;
}

