<?php
#############################################################################################
#Require the "Session Component"
#############################################################################################
if($section!=""&&$section!="login"&&$section!="register")
{
require_once($dir_components."session_check.php");
}

#############################################################################################
#Set up switch statements to catch the "section" values and alter them 
#############################################################################################
switch($section)
{

  case '':
  $mylogin="html/login.html";
  $mysection=$dir_components."content_login_org.php";
  $section="login";
  break;

  
  case 'landing':
  $mysection=$dir_components."content_courselist.php";
  break;  

  case 'login':
  $mylogin="html/login.html";
  $mysection=$dir_components."content_login_sp.php";
  break;
  
  case 'register':
  $mysection="components/content_register.php";
  break;
    
  case 'courselist':
  $mysection=$dir_components."content_courselist_sp1.php";
  break;
  
  case 'courselaunch':
  $mysection=$dir_components."content_courselaunch_sp1.php";
  break;  

  case 'reports':
  $mysection=$dir_components."content_reports.php";
  break;  

  case 'forum':
  $mysection=$dir_forum."forum_org.php";
  break;   

  case 'add_member':
  $mysection="html/add_form.html";
  break;    
  	
  default:
  $mysection=$dir_components."content_$section.php";
}


#############################################################################################
#
#############################################################################################
?>