


BODY { font-family: Arial, Helvetica, sans-serif;
	line-height:160%;
	font-size:14px;
	color:#000;
	background: url(images/gradient2.jpg);
	background-repeat: repeat-x; 
	background-color:#FFF; }


h1 { color:#596F80; }


a { color:#507EA1;
	padding:.3em; }
a:hover { color:#507EA1;
	background-color:#CFDCE6;
	padding:.3em;
	text-decoration : none; }
a img { border:0; }

#layout { width:85%;
	margin:0 auto;
	padding:.3em; }

#navigation { padding:.5em;
	margin-top:10px; }
#navigation li { display:inline;
	margin-left:10px; }
#navigation li a { font-size:1.2em; }

#footer { border-top:1px solid #596F80;
	padding:.5em;
	margin-top:5px; }

#menu font { padding-left:13px; }

.box h2 { padding:0; margin:0; font-size:18px; border-bottom:1px solid #6096BF;
	background-color:#647D8F;
	color:#fff; }
.box a { color:#CFDCE6; }
.box a:hover { color:#507EA1; background-color:#CFDCE6; }
.box p { color:#FFF; padding:.5em; }
.box { background-color:#647D8F; 
	margin-bottom:5px;
	margin-top:5px;
	padding:5px;}
.boxcontent { padding:15px;
	margin:2px; }
	.boxcontent { width:602px;}
.boxcontent span { font-size:12px; }
b.rtop, b.rbottom { display:block; background-color:#FFF; }
b.rtop b, b.rbottom b { display:block; height:1px;
    overflow:hidden; background-color:#647D8F; }
b.r1 { margin:0 5px; }
b.r2 { margin:0 3px; }
b.r3 { margin:0 2px; }
b.rtop b.r4, b.rbottom b.r4 { margin:0 1px; height:2px; }

/*div#container{ margin: 0 10%;background: #9BD1FA}*/
.rtop, .rbottom{display:block}
.rtop *, .rbottom *{display: block; height: 1px; overflow: hidden}
.r1{margin: 0 5px}
.r2{margin: 0 3px}
.r3{margin: 0 2px}
.r4{margin: 0 1px; height: 2px}

.login td{ margin:3px; padding:3px;  }

.uname {color:#BDD0DF; height:19px; font-size: xx-small; }
.pwd {  color:#BDD0DF; height:19px; font-size: xx-small; }
#copyright
{
font-size:x-small;
font-family:Arial, Helvetica, sans-serif;

}
#copyright hr
{
width:300px;
}