<HEAD>
<TITLE>CDT</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<SCRIPT SRC="conf.js"></SCRIPT>
<STYLE TYPE="text/css">
.text{COLOR:#000000;TEXT-DECORATION:none;}
.rbkg{BACKGROUND-COLOR:#FFFFFF;}
.input{FONT-FAMILY:VERDANA;FONT-SIZE:10;}
</STYLE>
</HEAD>
<BODY BGCOLOR="#FFFFFF"  TOPMARGIN="0" LEFTMARGIN="0" MARGINHEIGHT="0" MARGINWIDTH="0">
<TABLE BORDER='0' CELLPADDING='0' CELLSPACING='0' WIDTH='248'><TR><TD BGCOLOR='#93BEE2'>
<TABLE BORDER='0' CELLPADDING='0' CELLSPACING='0' WIDTH='100%'>
<TR>
<TD COLSPAN="2" BGCOLOR="#93BEE2">
<TABLE BORDER='0' CELLPADDING='0' CELLSPACING='0' WIDTH='100%'>
  <TR>
      <TD COLSPAN="2" BGCOLOR="#93BEE2">
	<applet Code="apTabMenu" Archive="java/apTabMenu.jar" Width=245 Height=20 MAYSCRIPT>
	<param name="Copyright" value="Apycom Software - www.apycom.com">
	<param name="bottomLine" value="true">
	<param name="pressedItem" value="2">
	<param name="tabType" value="0"> 
	<param name="backColor" value="336699">
	<param name="tabColor" value="93BEE2">
	<param name="tabHighColor" value="93BEE2">
	<param name="fontColor" value="666699">
	<param name="fontHighColor" value="000000">
	<param name="font" value="Arial,11,1">
	<param name="menuItems" value="
	      {Contents,toc.html,_self,_}
	      {Search,search.html,_self,_}	    	  
	      {Help,edit_course_torder.php?ID=2,_self,_}	
	      ">
	</applet>
      </TD>
  </TR>
</TABLE>
</TD>
</TR>
  <TR><TD COLSPAN='2' ALIGN='CENTER' BGCOLOR='#000000'><FONT FACE='VERDANA' SIZE='1' COLOR='#FFFFFF'><B>Search</TD></TR>
  <TR><TD BGCOLOR='#EFF7FF'><IMG SRC='images/spcr2.gif' WIDTH='1' HEIGHT='1'></TD><TD ALIGN='CENTER' BGCOLOR='#EFF7FF'><IMG SRC='images/spcr2.gif' WIDTH='100' HEIGHT='1'></TD></TR>

<FORM method="GET" action="search.html"> 
<TR CLASS='rbkg'>
      <TD NOWRAP><FONT FACE='VERDANA' SIZE='1'><B>Keyword:</TD>
      <TD NOWRAP><FONT FACE='VERDANA' SIZE='1'><INPUT TYPE="TEXT" CLASS="input"></TD>
</TR>
<TR CLASS='rbkg'><TD COLSPAN='2'><IMG SRC='images/spcr.gif' WIDTH='1' HEIGHT='10'></TD></TR>
<TR CLASS='rbkg'>
      <TD NOWRAP><FONT FACE='VERDANA' SIZE='1'><B>Look In:</TD>
      <TD NOWRAP><FONT FACE='VERDANA' SIZE='1'>
	  <SELECT NAME="" CLASS="input">
	  <OPTION VALUE="">Whole Course</OPTION>
	  <OPTION VALUE="">This Lesson</OPTION>
	  <OPTION VALUE="">This Topic</OPTION>	  	  
	  </SELECT>
	  </TD>
</TR>
<TR CLASS='rbkg'><TD COLSPAN='2'><IMG SRC='images/spcr.gif' WIDTH='1' HEIGHT='10'></TD></TR>
<TR CLASS='rbkg'><TD COLSPAN='2' ALIGN="RIGHT"><INPUT TYPE="SUBMIT" VALUE="search"></TD></TR>
</FORM>

</TABLE>
</TABLE>
<FORM NAME="loadtoc">
  <INPUT TYPE="HIDDEN" NAME="loaded" VALUE="YES">
</FORM>
<SCRIPT>
function tester()
{
document.write("Blahhhhhhhh!");
//return false;
}
top.indexItem="search";
</SCRIPT>
</BODY>
</HTML>
