
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title>Re: Re: subject for test</title>
<meta content="text/html; charset=windows-1250">
<link href="http://davidealytechnologies.com/LMS/site_conf/components/board/styleb.css" type="text/css" rel="stylesheet">
<!--[if IE 5]><style type="text/css">@import "http://davidealytechnologies.com/LMS/site_conf/components/board/styleIE.css";</style><![endif]-->
<!--[if IE 6]><style type="text/css">@import "http://davidealytechnologies.com/LMS/site_conf/components/board/styleIE.css";</style><![endif]-->
<!--[if IE 7]><style type="text/css">@import "http://davidealytechnologies.com/LMS/site_conf/components/board/styleIE.css";</style><![endif]-->
<META HTTP-EQUIV="Expires" CONTENT="-1">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<script language="Javascript" src="http://davidealytechnologies.com/LMS/index.php?section=messageboard&sid=1/javascript.js"><!--
//-->
</script>
</head>
<body>
<div id="container2" style="border:1px solid #000000;">
	<div id="main">
	
<div id="main-content">
<h3 align="center" class="title">Message Board</h3>

<div align="center"><center>
<table border="0" width="95%"><tr>
<td>

<p align="center"><a href="#new">Post a reply</a> ||
<a href="index.php?section=messageboard&sid=1615886044a6fec720e949">Back to Message Board</a></p>
<hr>
<p align="center"><b>Re: Re: subject for test</b></p>

<p><a href="http://davidealytechnologies.com/LMS/site_conf/components/board/mboard.php?sid=1615886044a6fec720e949&a=delete&num=88&up=87"><img
src="http://davidealytechnologies.com/LMS/site_conf/components/board/images/delete.gif" width="16" height="14" border="0" alt="Delete this post"></a>
Submitted by jimwu2009 &lt;<a href="mailto:jimwu2009&#64;test&#46;com">jimwu2009&#64;test&#46;com</a>&gt; on 29/Jul/2009 in reply to <a href="87.html">Re: subject for test</a> posted by jimwu2008 on 29/Jul/2009<br><font class="ip">121.76.253.53</font></p>

<p><b>Message</b>:</p>

<p>some text</p>

<hr>

<p align="center"><b>Replies to this post</b></p>
<ul>
<!-- zacni --><p>No replies yet</p>
</ul>
<hr></td>
</tr></table>
</center></div>

<p align="center"><a name="new"></a><b>Reply to this post</b></p>
<div align="center"><center>
<table border="0"><tr>
<td>
<form method=post action="http://davidealytechnologies.com/LMS//site_conf/components/board/mboard.php?sid=1615886044a6fec720e949" name="form" onSubmit="return mboard_checkFields();">
<p><input type="hidden" name="a" value="reply"><b>Name:</b><br><input type=text name="name" size=30 maxlength=30><br>
E-mail (optional):<br><input type=text name="email" size=30 maxlength=50><br>
<b>Subject:</b><br><input type=text name="subject" value="Re: Re: Re: subject for test" size=30 maxlength=100><br><br>
<b>Message:</b><br><textarea cols=50 rows=9 name="message"></textarea>
<input type="hidden" name="orig_id" value="88">
<input type="hidden" name="orig_name" value="jimwu2009">
<input type="hidden" name="orig_subject" value="Re: Re: subject for test">
<input type="hidden" name="orig_date" value="29/Jul/2009"><br>
<p><input type=submit value="Submit reply">
</form>
</td>
</tr></table>
</center></div>

			</div>
		</div></div>
</body>
</html>