BODY  {
	background-image:url('../images/background.jpg');
	background-repeat:repeat; 
	height:73px;
	font-size:12px;
}
TD{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
#main-content-b{
	float:left;
	border:1px solid #333333;
	width:695px;
}
.title{
	background-color:#333333; 
	padding:5px; 
	margin-top:0px; 
	color:#FFFFFF;
}
TD.upper {
	color : #FFFFFF;
	background : #23559C;
	font-family: arial, verdana, sans serif; 
	font-size: 11px;
}

FONT.smaller {
	font-size: 10px;
}

table.entries {
	color : black;
	font-family: arial, verdana, sans serif; 
	font-size: 11px;
	BORDER-RIGHT: #23559C 1px solid;
	BORDER-LEFT: #23559C 1px solid;
	BORDER-TOP: #23559C 1px solid;
	BORDER-BOTTOM: #23559C 1px solid;
}

A {
	color : #0084BE;
	text-decoration : underline;
}

A:HOVER {
	color : Red;
	text-decoration : none;
}

A.smaller {
	font-size: 10px;
	color : #0084BE;
	text-decoration : underline;
}

A.smaller:HOVER {
	font-size: 10px;
	color : Red;
	text-decoration : none;
}

INPUT {
	font-size: 11px;
	font-family: arial, verdana, sans serif; 
	color:#000000;
	background-color:#FFFFFF;
}

HR {
	color: #B8CFE7;
	height: 1px;
}

font.ip {
	color : Gray;
	font-family: arial, verdana, sans serif; 
	font-size: 9px;
}

/******Main Content*****/
#container{
	width:860px;
	min-width:860px;
	margin:0 auto;
	background-color:#FFFFFF;
}
#main{
	background-color:#FFFFFF;
	padding:3px;
}
#header{
	overflow:auto;
}
.logo a img{
	float:left;
	border:0;
}
.top-btn-links{
	float:left;
	background-image:url('../images/header-back.jpg');
	background-repeat:repeat-x;
	width:426px;
	height:45px;
}
#main-content{
	overflow:auto;
	padding-top:3px;
	padding-bottom:3px;
}
#col1{
	overflow:auto;
	float:left;
	background-image:url('../images/left-nav-back.jpg');
	background-repeat:repeat-y;
	width:155px;
}
.cn-logo a img{
	border:0;
}
.nav-links{
	background-image:url('../images/left-nav-back.jpg');
	background-repeat:repeat-y;
	width:155px;
	height:375px;
	margin-top:-16px;
}
.nav-links ul{
	margin-left:-15px;
}
.nav-links ul li{
	list-style-type:none;
	padding-top:20px;
}
.nav-links ul li a{
	text-decoration:none;
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
}
.upload-hr a img{
	border:0;
}
#col2{
	float:left;
	width:408px;
	border:1px solid #4684a9;
	margin-left:8px;
}
.top-btns{
	overflow:auto;
}
.top-btns .tb-services a img{
	float:left;
	margin-left:2px;
	border:0;
}
.top-btns .tb-forums a img{
	float:left;
	margin-left:2px;
	border:0;
}
.top-btns .tb-contactus a img{
	float:left;
	margin-left:2px;
	border:0;
}
.welcometos{
	overflow:auto;
	width:398px;
	padding-top:10px;
	margin:0 auto;
}
.welcometos .arrow-btn a img{
	float:left;
	border:0;
}
.wtos-title{
	float:left;
	color:#4684a9;
	font-size:15px;
	font-weight:bold;
	margin-left:20px;
	margin-top:2px;
}
.right-hr{
	float:right;
}
hr{
	clear:both;
	border-top:1px solid #4684a9;
}
.wtos-content{
	overflow:auto;
}
.shake-img img{
	float:left;
	margin-left:10px;
}
.wtos-txt{
	margin-top:0px;
	margin-left:20px;
	font-size:12px;
	float:left;
	color:#6e6e6e;
	text-align:justify;
	width:255px;
}
.uevents{
	overflow:auto;
	width:398px;
	padding-top:10px;
	margin:0 auto;
}
.uevents .arrow-btn a img{
	float:left;
	border:0;
}
.uevents-title{
	float:left;
	color:#4684a9;
	font-size:15px;
	font-weight:bold;
	margin-left:20px;
	margin-top:2px;
}
.uevents-title2{
	float:left;
	color:#4684a9;
	font-size:15px;
	font-weight:bold;
	margin-left:20px;
	margin-top:2px;
}
.right-hr{
	float:right;
}

.uevents-content{
	overflow:auto;
}
.uevents-left{
	float:left;
}
.uevents-right{
	width:190px;
	float:left;
	margin-left:5px;
}
.people-img img{
	float:left;
	margin-left:10px;
}
.uevents-txt{
	margin-top:0px;
	font-size:12px;
	float:left;
	color:#6e6e6e;
	text-align:justify;
}
.uevents .arrow-btn2 a img{
	float:left;
	border:0;
	margin-left:15px;
}
.uevents .txt-links{
	clear:both;
}
.uevents .txt-links ul{
	width:165px;
	margin-left:-10px;
	
}
.uevents .txt-links ul li{
	list-style-type:decimal-leading-zero;
}
.uevents .txt-links ul li a{
	color:#6e6e6e;
}
.uevents-right ul li{
	margin-left:-20px;
}
.uevents-right ul li a{
	color:#6ba5cb;
	font-weight:bold;
}
.uevents-right ul li ul li{
	list-style-type:none;
	color:#838383;
	text-align:justify;
}
.uevents-right ul li ul li .more{
	color:#62a6cb;
	font-weight:bold;
	text-align:right;
}
.news{
	overflow:auto;
	width:398px;
	padding-top:10px;
	margin:0 auto;
}
.news .arrow-btn a img{
	float:left;
	border:0;
}
.news-title{
	float:left;
	color:#4684a9;
	font-size:15px;
	font-weight:bold;
	margin-left:20px;
	margin-top:2px;
}
.news-title2{
	color:#4684a9;
	font-size:12px;
	font-weight:bold;
}
.right-hr{
	float:right;
}
hr{
	clear:both;
	border-top:1px solid #4684a9;
}
.news-content{
	overflow:auto;
}
.man-img img{
	float:left;
	margin-left:10px;
}
.news-txt{
	margin-top:0px;
	margin-left:20px;
	font-size:12px;
	float:left;
	color:#6e6e6e;
	text-align:justify;
	width:255px;
}
.news-txt{
	margin-top:-10px;
}
#col3{
	float:left;
	border:1px solid #4684a9;
	margin-left:10px;
}
.rawandac-l{
		border-bottom:2px solid #d2d2d2;
	}
	.login-area{
		margin-top:10px;
		overflow:auto;
	}
	.arrow-btn{
		float:left;
	}
	.arrow-btn a img{
		border:0;
	}
	.login-title{
		float:left;
		color:#4684a9;
		font-size:15px;
		font-weight:bold;
		margin-left:20px;
		margin-top:2px;
	}
	.form-fields{
		padding-left:30px;
	}
	#loginform{
		margin:0px;
		overflow:auto;
		padding:5px;
	}
	.btn{
		overflow:auto;
		clear:both;
		margin-left:20px;
	}
	.spacer{
		height:10px;
	}
	.right-spacer{
		height:5px;
	}
	.left{
		float:left;
		margin-left:10px;
	}
	.right{
		float:right;
	}
	#footer{
		overflow:auto;
	}
	.flags{
		float:left;
		margin-left:10px;
	}
	.blinks{
		float:left;
		font-size:11px;
		margin-left:90px;
	}
	.blinks ul li{
		display:inline;
		padding-left:8px;
	}
	.blinks ul li a{
		text-decoration:none;
		font-weight:bold;
		color:#666666;
	}	
	
.logout a{
	padding:10px;
	font-weight:bold;
	
}	
/*
#news-content{
	overflow:auto;
}
.nc-title{
	text-align:center;
	font-weight:bold;
	margin-bottom:30px;
	margin-top:30px;
}
.nm-content{
}
.r-links{
}
*/
#news-content{
}
.nc-title{
	text-align:center;
	font-weight:bold;
	margin-bottom:30px;
	margin-top:30px;
}
.nm-content{
	overflow:auto;
}
.r-links{
	float:left;
	border:1px solid #333333;
	width:150px;
	margin-left:10px;
}
.ncm-content{
	float:left;
	width:480px;
	margin-left:10px;
}
.ncmc-headline{
	color:#FFFFFF;
	background-color:#333333;
	font-weight:bold;
	padding:5px;
}
.logsession{
	padding:10px;
	background-color:#333333;
	color:#ffffff;
	font-weight:bold;
}
.reg-title{
	padding:10px;
	background-color:#333333;
	color:#ffffff;
	font-weight:bold;
	text-align:center;
}
#regform{
	overflow:auto;
	padding:20px;
}
#regform .form-input{
}
 .form-btn{
}
.spacer{
	height:10px;
}
.right-spacer{
	height:5px;
}
.btn{
	overflow:auto;
	clear:both;
}
#regform .left{
	float:left;
}
#regform .right{
	float:right;
}