body {
	font-family: Arial, Helvetica, sans-serif;
}
*{ font-family:Arial, Helvetica, sans-serif;}
a{ border: 0px;  text-decoration:none; }
.banner
{
height:100px;
background: url(images/det_banner.jpg) no-repeat #FFFFFF;
/*background-color:#FFFFFF;*/
}
.top_menu_container 
{
	background:url(images/blue_grad_bg.gif) repeat-x;
}
.mytopmenu td.top_menu_item a
{
display:block;
 padding-left: 5px;padding-right: 5px;
}
.mytopmenu td.top_menu_item a:HOVER
{
	background:url(images/light_blue_grad_bg.gif) repeat-x;
}

.mytopmenu a{ border: 0px; color:#FFFFFF; text-decoration:none; }
.mytopmenu td { }
.mytopmenu td.space{ width:1px; background:#999999; padding-left: 0px;padding-right: 0px;  }
.thebutton{ 
	display: block;
	text-decoration:none; 
	color:#000000;
	padding-bottom: 1px;
	padding-top: 2px;
	padding-right: 1px;
	padding-left: 2px;
}
.thebutton:HOVER {  
    border-bottom: 1px solid #cecece;
    border-top: 2px solid #4a4a4a;
    border-right: 1px solid #cecece;
    border-left: 2px solid #4a4a4a;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.thebutton:link { border: none;}
.mytablinknotselected{
	color:#000000;
	font: normal xx-small;
	display: block;
    border-top: 2px solid #4a4a4a;
    border-right: 1px solid #4a4a4a;
    border-left: 2px solid #4a4a4a;
    border-bottom: 2px solid #4a4a4a;
	padding:0px;
	background: #93BEE2;
}
.mytablinkselected {
	color:#000000;
	font:bold xx-small;
	display: block;
    border-top: 2px solid #000000;
    border-right: 1px solid #000000;
    border-left: 2px solid #000000;
    border-bottom: 0px;
	padding-bottom:2px;
	background: #93BEE2;
}
