body {
 background-color: #c0c0c0;
 margin-left:   0px;
 margin-top:    0px;
 margin-right:  0px;
 margin-bottom: 0px;
 font-size:   ;
 color:       ;
}

#sco {
	width: 700px;
 	background-color: #FFFFFF;
	margin-top: 40px;
	padding: 20px 20px;
	border:	inset;
	text-align: left;
}

#descriptiontitle {
	line-height: 100%;
	font-size: 18pt;
	color: red;
	margin-top:   20px;
}

#description {
}

#objectivestitle {
	line-height: 100%;
	font-size: 18pt;
	color: red;
}

#objectives {
}

div.learningobjecttitle {
	font-size: 24pt;
	color: blue;
	margin-bottom:   4px;
}

div.learningsteptitle {
	line-height: 200%;
	font-size: 18pt;
	color: red;
	margin-left:   1px;
	margin-bottom:   4px;
}

div.linktitle {
	font-weight: bold;
	margin-top:   10px;
	margin-bottom:  0px;
	color: black;
}

div.descripiton {
	font-style: italic;
}

div.descripitontitle {
}

div.audiotitle {
	font-weight: bold;
	margin-top:   10px;
	margin-bottom:  0px;
	color: black;
}

div.hintdetails {
	padding: 20px 20px;
	border: dotted;
	border-color: blue;
	text-align: left;
}

div.mediafile {
	padding: 1px 0px;      
	margin-top:   0px;
	margin-bottom:  0px;  
}

div.mediafiletitle {
	padding: 0px 0px;      
	margin-top:   0px;
	margin-bottom:  0px;  
}

img.thumbnail {
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: white;
	border: outset;
	border-width: 2px;
	border-color: black;
}


a:link	  { color: #0000A0; text-decoration: none; }
a:hover	  { color: #0000FF; text-decoration: none; }
a:visited { color: #0000FF; text-decoration: none; }
a:active  { color: #FF0000; text-decoration: none; }


#dynWin {
	border-style:solid;
	border-width:2px;
	background-color:white;
}
#dynBar {
	height: 20px;
	background-color: navy;
	color: white;
	cursor:move;

}
#dynAudio {
	border: outset;
	border-width:2px;
	background-color:white;
	margin-top:10px;
}

#throb {
	border-style:solid;
	border-width:1px;
	background-color:white;
	height:10px;
	width:702px;
}

#initmsg {
	font-family: courier;
	font-size: 10pt;
	width:702px;
}

#dbgmsg {
	font-family: courier;
	font-size: 12pt;
	border-style:solid;
	border-width:1px;
	background-color:white;
	width:700px;
}
