* {
	/*white-space:normal;*/
}
a {
    color: #87BE4B;
    padding: 0.3em;
}
td {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}
body {
    background: url("../images/gradient2.jpg") repeat-x scroll 0 0 #FFFFFF
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #000000;
	background-color: white;
   	width: 1000px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	font-size: 14px;
    line-height: 160%;
}
#mainContainer{
	width: 1000px;/*910px;*/
	margin-left:auto;
	margin-right:auto;
	border-style:solid;
	border-width:1px;
	border-color:#000000;
	text-align: left;
}
#ldcLCPageContentContainerTable {
	width:100%;
	margin:0 auto;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:5px;
}
#ldcLCPageLeftNav, #ldcLCPageLeftNavTD, #ldcLCPageContent, #ldcLCPageContentTD {
	margin:0;
	padding:0;
}
#ldcLCPageLeftNav,#ldcLCPageLeftNavTD {
	border:none;
	background-color:transparent;
	vertical-align:top;
}
#ldcLCPageLeftNavTD, #ldcLCPageContentTD {
	padding-top:15px;
}
#ldcLCPageLeftNavShadowTD, #ldcLCPageLeftNavShadow {
	width:15px;
	background-color:transparent;
	margin:0;
	padding:0;
}
#ldcUserLinksFooter {
	display:none;
}
#searchstring0 { /* search DCT input field width */
	
}
.pageheader {
}
.header-content {
	background:url("../images/hr_header_bg.jpg") no-repeat;
	width:560px;
	height:117px;
	padding-left:400px;
}
.tagline {
	font:36px Georgia, "Times New Roman", Times, serif;
	color:#fff;
	font-style:italic;
	-moz-box-shadow: 3px 3px 4px #000;    
	-webkit-box-shadow: 3px 3px 4px #000; 
	box-shadow: 3px 3px 4px #000; 
	/* For IE 8 */ 
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')"; 
	/* For IE 5.5 - 7 */ 
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000'); 
}
.navbar {
	background:url("../images/hr_navbar_bg.gif") repeat-x;
	height:33px;
}
.topnav {
}
.topnav-link {
	border-left:1px solid #777;
	width:110px;
	text-align:center;
	height:20px;
}
.topnav-link a {
	font:14px Georgia, "Times New Roman", Times, serif;
	color:#fff;
	text-decoration:none;
}
.topnav-link a:hover {
	text-decoration:underline;
}
.gs-hdr {
	font:bold 15px Arial, Helvetica, sans-serif;
	color:#555;
}
.gs-num {
	font:bold 30px/24px Arial, Helvetica, sans-serif;
	color:#418240;
	border-right:1px solid #ddd;
}
.leftnav {
	border-top:1px solid #ccc;
	margin-top:15px;
}
.leftnav-link {
	background:url("../images/hr_leftnav_bg.jpg") no-repeat;
	height:39px;
	width:180px;
	padding-left:10px;
}
.leftnav-link a {
	font:bold 12px Georgia, "Times New Roman", Times, serif;
	color:#555;
	text-decoration:none;
	background:url("../images/hr_arrow1.gif") no-repeat right center;
	padding-right:14px;
}
.leftnav-link a:hover {
	text-decoration:underline;
}
.search-box {
	margin-top:15px;
}
.search-hdr {
	font:bold 15px Georgia, "Times New Roman", Times, serif;
	color:#555;
}
.welcome-hdr {
	font:26px Georgia, "Times New Roman", Times, serif;
	color:#418240;
}
.welcome-txt {
	font:14px Arial, Helvetica, sans-serif;
	color:#777;
}
.homeboxes {
	margin-top:15px;
}
.homeboxA {
	background:url("../images/hr_homebox_bg1.jpg") no-repeat;
	width:204px;
	height:216px;
}
.homeboxB {
	background:url("../images/hr_homebox_bg2.jpg") no-repeat;
	width:204px;
	height:216px;
}
.homeboxC {
	background:url("../images/hr_homebox_bg3.jpg") no-repeat;
	width:204px;
	height:216px;
}
.homebox-link, .homebox-link a {
	font:bold 14px Arial, Helvetica, sans-serif;
	color:#418240;
	text-decoration:none;
}
.homebox-link a:hover {
	text-decoration:underline;
}
.homebox-txt p {
	margin:0;
	padding:0 0 5px 0;
}
.feature-hdr {
	font:bold 14px Arial, Helvetica, sans-serif;
	color:#555;
}
.buttonA {
	background:url("../images/hr_btn_green.jpg") no-repeat;
	width:105px;
	height:18px;
}
.buttonB {
	background:url("../images/hr_btn_grey.jpg") no-repeat;
	width:106px;
	height:18px;
}
.buttonA a, .buttonB a {
	font: 11px Arial, Helvetica, sans-serif;
	color:#fff;
	text-decoration:none;
}
.buttonA a:hover, .buttonB a:hover {
	text-decoration:underline;
}
.pagecontent {
}
.page-hdr {
	font:24px Georgia, "Times New Roman", Times, serif;
	color:#418240;
}
.page-subhdr {
	font:bold 14px Arial, Helvetica, sans-serif;
	color:#418240;
}
.page-txt {
 font: 12px Arial, Helvetica, sans-serif;
}
.pagefooter {
	margin-top:20px;
	border-top:1px solid #ccc;
}
.footer-txt, .footer-txt a {
	font:11px Arial, Helvetica, sans-serif;
	color:#777;
}