/* Style for the index.php file*/
.dock {
	position: fixed;
	bottom: 0;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
}
.rightborder {
	border-right: 1px solid #000000;
}
.leftborder {
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-style: thin;
}
.style2 {
	font-size: xx-small;
}
#mainContainer1 {
	width:500px;
}
.descriptor_row	{
	background: #003366;
	font-size: x-small;
	color: #fff;
	border: #fff;
	size:10px;
}