img {
	border:5px;
	}

.menu {
	width:406px;
	position:absolute;
	top:0px;
	left:0px;
	font-size:0px;
	line-height:0px;
	z-index:50000;
	}

.menu ul {
	background-image:url(menubg.gif);
	margin:0px;
	padding:8px 2px 0px 0px;
	}

.menu ul li {
	list-style-type:none;
	padding:0px;
	margin:0px;
	border-bottom:1px solid #707070;
	line-height:11px;
	}
	
.menu ul li.last {
	border-bottom:1px solid #75858C;
	}

.menu ul li a {
	display:block;
	font-family:arial,helvetica,sans-serif;
	font-size:11px;
	padding:8px 0px 8px 28px;
	font-weight:bold;
	color:white;
	text-decoration:none;
	background-image:url(../itemBG.gif);
	}

.menu ul li a:active, .menu ul li a:hover {
	background-position:left 27px;
	color:#2E2E2E;
	}
